In [5]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [6]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'], axis=1)
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head(1)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.0,1,1,1,101348.88,1

In [8]:
# one-hot encode geography
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
data=pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
X=data.drop('EstimatedSalary', axis=1)
y=data['EstimatedSalary']

In [12]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=4)

In [14]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [15]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ann regression problems statement ##

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(
    optimizer='adam',
    loss='mean_absolute_error',
    metrics=['mae']
)

WARNING:tensorflow:From c:\Users\nandi\Desktop\ann-classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
print(model.layers[-1].activation)

<function linear at 0x0000020A0F223420>

In [22]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
log_dir='regression/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [23]:
tensorboard_callback

In [24]:
# early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [25]:
history=model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\nandi\Desktop\ann-classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\nandi\Desktop\ann-classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 4ms/step - loss: 99546.9688 - mae: 99546.9688 - val_loss: 101837.9375 - val_mae: 101837.9375
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 98816.5078 - mae: 98816.5078 - val_loss: 100357.5859 - val_mae: 100357.5859
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96229.2812 - mae: 96229.2812 - val_loss: 96571.0234 - val_mae: 96571.0234
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91137.2266 - mae: 91137.2266 - val_loss: 90174.9219 - val_mae: 90174.9219
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83731.1484 - mae: 83731.1484 - val_loss: 81817.5625 - val_mae: 81817.5625
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 75045.6328 - mae: 75045.6328 - val_loss: 72872.1328 - val_mae: 72872.1328
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 66626.2031 - mae: 66626.2031 - val_loss: 64645.8711 - val_mae: 64645.8711
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 59714.0508 - mae: 59714.0508 - val_loss: 58300.8164 - val_mae: 58300.8164
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55225.5078 - mae: 55225.5078 - val_loss: 54094.8828 - val_mae: 54094.8828
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52805.5938 - mae: 52805.5938 - val_loss: 51816.1914 - val_mae: 51816.1914
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51653.9297 - mae: 51653.9297 - val_loss: 50672.7305 - val_mae: 50672.7305
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 51132.1250 - mae: 51132.1250 - val_loss: 50109.6641 - val_mae: 50109.6641
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50868.1367 - mae: 50868.1367 - val_loss: 49842.6211 - val_mae: 49842.6211
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50726.8281 - mae: 50726.8281 - val_loss: 49725.9648 - val_mae: 49725.9648
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50632.6094 - mae: 50632.6094 - val_loss: 49640.5156 - val_mae: 49640.5156
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50555.1211 - mae: 50555.1211 - val_loss: 49613.3984 - val_mae: 49613.3984
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50487.2070 - mae: 50487.2070 - val_loss: 49564.9414 - val_mae: 49564.9414
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50429.3555 - mae: 50429.3555 - val_loss: 49540.9570 - val_mae: 49540.9570
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50377.8320 - mae: 50377.8320 - val_loss: 49505.6328 - val_mae: 49505.6328
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50332.8438 - mae: 50332.8438 - val_loss: 49474.6914 - val_mae: 49474.6914
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50291.2344 - mae: 50291.2344 - val_loss: 49457.7578 - val_mae: 49457.7578
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50252.0352 - mae: 50252.0352 - val_loss: 49445.3242 - val_mae: 49445.3242
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 50218.2031 - mae: 50218.2031 - val_loss: 49420.8438 - val_mae: 49420.8438
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 50188.2266 - mae: 50188.2266 - val_loss: 49405.7344 - val_mae: 49405.7344
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 50158.9141 - mae: 50158.9141 - val_loss: 49388.2812 - val_mae: 49388.2812
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 50128.4492 - mae: 50128.4492 - val_loss: 49384.6562 - val_mae: 49384.6562
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 50105.9766 - mae: 50105.9766 - val_loss: 49386.5625 - val_mae: 49386.5625
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 50079.2188 - mae: 50079.2188 - val_loss: 49365.5469 - val_mae: 49365.5469
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 50056.4648 - mae: 50056.4648 - val_loss: 49355.2617 - val_mae: 49355.2617
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 50031.1680 - mae: 50031.1680 - val_loss: 49343.7188 - val_mae: 49343.7188
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 50010.2227 - mae: 50010.2227 - val_loss: 49353.1602 - val_mae: 49353.1602
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49994.3008 - mae: 49994.3008 - val_loss: 49355.6367 - val_mae: 49355.6367
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49978.2734 - mae: 49978.2734 - val_loss: 49361.9102 - val_mae: 49361.9102
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49958.0430 - mae: 49958.0430 - val_loss: 49333.6289 - val_mae: 49333.6289
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49947.3203 - mae: 49947.3203 - val_loss: 49328.2930 - val_mae: 49328.2930
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49928.3008 - mae: 49928.3008 - val_loss: 49324.2695 - val_mae: 49324.2695
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49914.4570 - mae: 49914.4570 - val_loss: 49335.7422 - val_mae: 49335.7422
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49899.3672 - mae: 49899.3672 - val_loss: 49333.6445 - val_mae: 49333.6445
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49886.3359 - mae: 49886.3359 - val_loss: 49322.8516 - val_mae: 49322.8516
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49876.0273 - mae: 49876.0273 - val_loss: 49315.2148 - val_mae: 49315.2148
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49867.1367 - mae: 49867.1367 - val_loss: 49325.0469 - val_mae: 49325.0469
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49853.9141 - mae: 49853.9141 - val_loss: 49322.0352 - val_mae: 49322.0352
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49844.1484 - mae: 49844.1484 - val_loss: 49322.5625 - val_mae: 49322.5625
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49834.3750 - mae: 49834.3750 - val_loss: 49301.9688 - val_mae: 49301.9688
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49825.7969 - mae: 49825.7969 - val_loss: 49313.0352 - val_mae: 49313.0352
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49817.4883 - mae: 49817.4883 - val_loss: 49303.3047 - val_mae: 49303.3047
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49808.8359 - mae: 49808.8359 - val_loss: 49345.4688 - val_mae: 49345.4688
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49801.5352 - mae: 49801.5352 - val_loss: 49321.6953 - val_mae: 49321.6953
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49794.6836 - mae: 49794.6836 - val_loss: 49311.5781 - val_mae: 49311.5781
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49785.6875 - mae: 49785.6875 - val_loss: 49300.9336 - val_mae: 49300.9336
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49780.4766 - mae: 49780.4766 - val_loss: 49292.1719 - val_mae: 49292.1719
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49772.2617 - mae: 49772.2617 - val_loss: 49284.4805 - val_mae: 49284.4805
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49766.5352 - mae: 49766.5352 - val_loss: 49296.1289 - val_mae: 49296.1289
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49758.8281 - mae: 49758.8281 - val_loss: 49303.9414 - val_mae: 49303.9414
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49751.9102 - mae: 49751.9102 - val_loss: 49311.7227 - val_mae: 49311.7227
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49746.9258 - mae: 49746.9258 - val_loss: 49296.1406 - val_mae: 49296.1406
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49742.1211 - mae: 49742.1211 - val_loss: 49309.2070 - val_mae: 49309.2070
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49733.6953 - mae: 49733.6953 - val_loss: 49307.7070 - val_mae: 49307.7070
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49731.8711 - mae: 49731.8711 - val_loss: 49303.6172 - val_mae: 49303.6172
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49725.1992 - mae: 49725.1992 - val_loss: 49272.6445 - val_mae: 49272.6445
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49720.5586 - mae: 49720.5586 - val_loss: 49269.7383 - val_mae: 49269.7383
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49714.2305 - mae: 49714.2305 - val_loss: 49287.2969 - val_mae: 49287.2969
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49710.0664 - mae: 49710.0664 - val_loss: 49266.4727 - val_mae: 49266.4727
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49705.0312 - mae: 49705.0312 - val_loss: 49290.3398 - val_mae: 49290.3398
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49703.8945 - mae: 49703.8945 - val_loss: 49287.6562 - val_mae: 49287.6562
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49695.7383 - mae: 49695.7383 - val_loss: 49306.8945 - val_mae: 49306.8945
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.8789 - mae: 49694.8789 - val_loss: 49274.6250 - val_mae: 49274.6250
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49687.8828 - mae: 49687.8828 - val_loss: 49297.9844 - val_mae: 49297.9844
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49682.1250 - mae: 49682.1250 - val_loss: 49271.9688 - val_mae: 49271.9688
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49678.4844 - mae: 49678.4844 - val_loss: 49306.2734 - val_mae: 49306.2734
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49677.0469 - mae: 49677.0469 - val_loss: 49286.7461 - val_mae: 49286.7461
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49671.3789 - mae: 49671.3789 - val_loss: 49284.6602 - val_mae: 49284.6602
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 49669.2422 - mae: 49669.2422 - val_loss: 49293.0117 - val_mae: 49293.0117

In [27]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionlogs/fit

In [30]:
## evaluate model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE : {test_mae}")

63/63 [==============================] - 0s 2ms/step - loss: 49266.4727 - mae: 49266.4727
Test MAE : 49266.47265625

In [31]:
model.save('regression_model.h5')

c:\Users\nandi\Desktop\ann-classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(